@tailwind base;
@tailwind components;
@tailwind utilities;

.my-img {
  width: 70%;
}

/* .banner {
  padding-top: -50px; 
}


.navbar {
  margin-top: 0;
  position: relative;
  z-index: 1; 
} */


/* .navbar.scrolled {
  position: fixed; 
  top: 0; 
} */